.apps {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;

	.app-card {
		width: 20vw;

		.app-media {
			background-color: #9E9E9E;
		}

		img {
			max-width: 80% !important;
			min-width: 80% !important;
			height: auto;
			margin: 10%;
		}
	}
}

@media (max-width: 1000px) {
	.app-card {
		width: 35vw;
	}
}

@media (max-width: 600px) {
	.app-card {
		width: 50vw;
	}
}