.my-tab {
	max-width: 80vw;
	left: 10vw;
	position: relative;
	min-height: calc(100vh - 112px);
	padding: 2em 0;
}

.app {
	background-color: #eeeeee;
}

.tab {
	height: 100%;
}

@font-face {
	font-family: 'Myriad Pro Regular';
	src: url("../font/Myriad Pro Regular.ttf");
}

* {
	font-family: 'Myriad Pro Regular', sans-serif;
}

body {
	margin: 0;
}