.my-tab {
  max-width: 50vw;
  left: 25vw;
  position: relative;
}

.app {
  background-color: #eeeeee;
}

.tab {
  height: 100%;
}

@import 'Myriad_Pro.ttf'
* {
  font-family: 'Myriad Pro Regular', sans-serif;
}