.my-tab {
	max-width: 50vw;
	left: 25vw;
	position: relative;
	min-height: calc(100vh - 112px);
}

.app {
	background-color: #eeeeee;
}

.tab {
	height: 100%;
}

@font-face {
	font-family: 'Myriad Pro Regular';
	src: url("../font/Myriad Pro Regular.ttf");
}

* {
	font-family: 'Myriad Pro Regular', sans-serif;
}